.wrapper {
    width: 100%;
    background-color: #F9FAFB;
}

.container {
    display: flex;
    align-items: center;
    width: 88%;
    max-width: 1260px;
    margin: 0px auto;
    justify-content: space-between;
    padding: 20px 0px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo svg {
    display: none;
}

.nav {
    display: flex;
    gap: 40px;
}

.nav a {
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    color: black;
}

.social {
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 500px) {
    .container {
        width: 90%;
        max-width: 100%;
        flex-direction: column;
        gap: 24px;
    }

    .logo {
        width: 100%;
        justify-content: space-between;
    }

    .logo svg {
        display: unset;
    }

    .container .nav,
    .container .social {
        display: none;
    }

    .mobile .nav,
    .mobile .social {
        display: flex;
    }

    .nav {
        flex-direction: column;
        width: 100%;
    }
}