.container {
    width: 100%;
    height: 750px;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
        url('../../public/images/banner.jpeg') center/cover no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    position: relative;
    z-index: 3;
}

.header h3 {
    font-weight: 300;
    font-size: 28px;
    color: #F4FAFF;
}

.header h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 62px;
    color: #ffffff;
}

.header p {
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    color: #ffffff;
}

.container a {
    width: 266px;
    padding: 18px 0px;
    border-radius: 10px;
    text-align: center;
    border: 0px;
    background-color: #003D1F;
    color: white;
    position: relative;
    z-index: 2;
    font-size: 18px;
    font-weight: 700;
}

@media screen and (max-width: 500px) {
    .container {
        padding: 0px 20px;
    }

    .header {
        align-items: flex-start;
    }

    .header h3 {
        font-size: 24px;
    }

    .header h2 {
        font-size: 32px;
        line-height: 48px;
    }

    .container a {
        width: 100%;
    }
}