* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
a,
h1,
h3,
h4,
h5,
h6,
button,
body,
ul,
li,
select {
  font-family: var(--font-inter);
}

span,
h2 {
  font-family: var(--font-outfit);
}


input:focus,
select:focus,
textarea:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
  position: relative;
}

.error {
  color: #EB4141;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.loading-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 144px;
  align-items: center;
  justify-content: center;
}