.container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 96px 0px;
    margin: 0px auto;
    width: 83%;
    max-width: 1400px;
}

.container>h2 {
    font-size: 48px;
    line-height: 140%;
    color: black;
    font-weight: 400;
    width: 600px;
}

.container>h2 span {
    color: #3DC300;
}

.wrapper {
    width: 100%;
    display: flex;
    gap: 24px;
}

.single {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #F9FAF9;
    border-radius: 20px;
    padding: 32px;
}

.head {
    display: flex;
    justify-content: space-between;
}

.head>div {
    width: 64px;
    height: 64px;
    border-radius: 6px;
    background-color: #98A393;
}

.head h2 {
    font-size: 14px;
    line-height: 160%;
    color: #98A393;
    font-weight: 400;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.top div {
    display: flex;
    gap: 4px;
}

.top p {
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    color: #808380;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #DEE2DD;
}

.body>p {
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    color: #3DC300;
}

@media screen and (max-width: 500px) {
    .container {
        padding: 0px;
        width: 90%;
        max-width: 100%;
        gap: 32px;
    }

    .container>h2 {
        font-size: 30px;
        width: 100%;
    }

    .wrapper {
        flex-direction: column;
    }

    .single {
        width: 100%;
    }
}