.container {
    padding: 80px 0px 40px;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 62px;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 83%;
    max-width: 1500px;
}

.wrapper>div {
    width: 24%;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.logo p {
    font-size: 16px;
    line-height: 150%;
    color: white;
    letter-spacing: 0.6px;
    font-weight: 400;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact>h2 {
    font-size: 18px;
    line-height: 150%;
    color: white;
    letter-spacing: 0.4px;
    font-weight: 700;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.body div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.body p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: white;
    letter-spacing: 0.5px;
}