.container {
    padding: 80px 0px 40px;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 62px;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 83%;
    max-width: 1500px;
}

.wrapper>div {
    width: 28%;
}

.wrapper>div:last-child {
    width: 12%;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.logo p {
    font-size: 16px;
    line-height: 150%;
    color: white;
    letter-spacing: 0.6px;
    font-weight: 400;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact>h2 {
    font-size: 18px;
    line-height: 150%;
    color: white;
    letter-spacing: 0.4px;
    font-weight: 700;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.body div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.body p,
.body a {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: white;
    letter-spacing: 0.5px;
    flex: 1;
}

@media screen and (max-width: 500px) {
    .wrapper {
        width: 90%;
        max-width: 100%;
        flex-direction: column;
        gap: 32px;
    }

    .wrapper>div {
        width: 100%;
    }
}