.container {
    padding: 57.5px 0px 96.5px;
    display: flex;
    justify-content: center;
    background-color: #F3F3F3;
}

.wrapper {
    display: flex;
    gap: 116px;
    width: 75%;
}

.left {
    width: 438px;
    display: flex;
    flex-direction: column;
    gap: 47px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header h2 {
    color: #011122;
    font-weight: 700;
    font-size: 55px;
    line-height: 80px;
    letter-spacing: 0px;
    vertical-align: middle;
}

.header p {
    color: #5F6060;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0px;
}

.bottom {
    display: flex;
    flex-direction: column;
}

.single {
    border-top: 1px solid #1F213133;
    padding: 16px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single h3 {
    color: #011122;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0px;
}

.single h2 {
    color: #5F6060;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: right;
}

.single div {
    display: flex;
    gap: 5px;
}

.right {
    padding: 44px 31px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.group label {
    color: #696969;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.32px;
}

.group input,
.group textarea {
    background-color: white;
    border-radius: 10px;
    padding: 12px 21px;
    border: none;
    color: #625F5F;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.32px;
}

.group input:focus,
.group textarea:focus {
    border: 1px solid #B8860B
}

.group textarea {
    height: 90px;
}

.right button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 0px;
    justify-content: center;
    border-radius: 100px;
    border: none;
    background-color: #003D1F;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    vertical-align: middle;
}

@media screen and (max-width: 500px) {
    .container {
        background-color: white;
    }

    .wrapper {
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }

    .left {
        width: 100%;
        padding: 0px 20px;
    }

    .header h2 {
        font-size: 36px;
    }

    .right {
        width: 100%;
        background-color: #F5F5F5;
        border-radius: 32px;
        padding: 44px 21px 54px;
    }
}