.container {
    width: 100%;
    padding: 32px 0px;
    align-items: center;
    display: flex;
    background-color: #003D1F;
    justify-content: center;
}

.container p {
    width: 1000px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    line-height: 30px;
    color: white;
    letter-spacing: 0.5px;
}

@media screen and (max-width: 500px) {
    .container p {
        width: 90%;
        font-size: 12px;
    }
}