.container {
    background-color: #239B78;
    display: flex;
    flex-direction: column;
    gap: 47px;
    align-items: center;
    padding: 59px 0px 100px;
}

.container h2 {
    font-size: 45px;
    line-height: 48px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0.5px;
}

.container p {
    width: 74%;
    text-align: center;
    font-size: 16px;
    font-family: 400;
    line-height: 28px;
    color: white;
}