.wrapper {
    background-color: #EFF4F6;
}

.container {
    padding: 80px 0px 104px;
    width: 83%;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 88px;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: column;
}

.header h2 {
    font-size: 30px;
    line-height: 140%;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: black;
}

.header p {
    font-size: 20px;
    line-height: 150%;
    font-weight: 400;
    letter-spacing: 0.6px;
    color: black;
}

.body {
    display: flex;
    gap: 100px;
    flex-direction: column;
}

.left {
    display: flex;
    gap: 50px;
    align-items: center;
}

.left div,
.right div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.left div h2,
.right div h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    color: black;
    letter-spacing: 0.6px;
}

.left div p,
.right div p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.6px;
    color: black;
}

.right {
    display: flex;
    align-items: center;
    gap: 50px;
}

.right div h2,
.right div p {
    text-align: right;
}