.container {
    padding: 80px 0px 40px;
    width: 83%;
    max-width: 1400px;
    margin: 0px auto;
    display: flex;
    gap: 126px;
    align-items: center;
}

.body {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.head {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.head h2 {
    font-size: 30px;
    line-height: 140%;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: black;
}

.head p {
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content div p {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: black;
    letter-spacing: 0.6px;
}

.content button {
    width: 135px;
    border-radius: 4px;
    padding: 12px 0px;
    border: none;
    background-color: #239B78;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.picture {
    flex: 1;
}